<!-- new -->
<h1 class="mb-1 restaurant-show-title">更新餐廳資料</h1>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-6">
      <!-- from -->
      <form class="position-relative" action="/restaurants/{{restaurant._id}}?_method=PUT" method="post">
        <!-- back -->
        <div class="mb-3" style="margin-top: -30px;">
          {{>message}}
          <a href="/restaurants/{{restaurant._id}}" style="text-decoration: none;">
            <button class="deleteButton btn btn-light btn-sm border border-secondary text-secondary" type="button">
              Back
            </button>
          </a>
        </div>
        <!-- 必要資訊 -->
        <h4 class="text-primary mt-0 mb-1">必要資訊 Require</h4>
        <hr class="mt-0">
        <!-- name -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="name">名稱</label>
          <input class="form-control" type="text" name="name" id="name" aria-label="name" value="{{restaurant.name}}">
        </div>
        <!-- 類型 -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="category">類型</label>
          <select class="form-control" id="category" name="category" id="category">
            <option value="">選擇餐廳類型</option>
            <option value="日本料理" {{#isSame restaurant.category "日本料理" }} selected {{/isSame}}>日本料理</option>
            <option value="中東料理" {{#isSame restaurant.category "中東料理" }} selected {{/isSame}}>中東料理</option>
            <option value="義式料理" {{#isSame restaurant.category "義式料理" }} selected {{/isSame}}>義式料理</option>
            <option value="美式料理" {{#isSame restaurant.category "美式料理" }} selected {{/isSame}}>美式料理</option>
            <option value="台式料理" {{#isSame restaurant.category "台式料理" }} selected {{/isSame}}>台式料理</option>
            <option value="酒吧" {{#isSame restaurant.category "酒吧" }} selected {{/isSame}}>酒吧</option>
            <option value="咖啡" {{#isSame restaurant.category "咖啡" }} selected {{/isSame}}>咖啡</option>
            <option value="其他" {{#isSame restaurant.category "其他" }} selected {{/isSame}}>其他</option>
          </select>
        </div>
        <!-- 評價 -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="rating">評價</label>
          <input class="form-control" type="number" name="rating" id="rating" value="{{restaurant.rating}}"
            aria-label="name" min="0" max="5" step="0.1">
        </div>
        <!-- 介紹 -->
        <div class="input-group">
          <label class="input-group-text" for="description">介紹</label>
          <textarea class="form-control" id="description" name="description" rows="5"
            maxlength="150">{{restaurant.description}}</textarea>
        </div>

        <!-- 其他資訊 -->
        <h5 class="text-secondary mt-5 mb-1">其他資訊 Optional</h5>
        <hr class="mt-0">
        <!-- 英文名稱 -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="name_en">英文名稱</label>
          <input type="text" class="form-control" name="name_en" id="name_en" aria-label="english name"
            aria-describedby="basic-addon1" value="{{restaurant.name_en}}">
        </div>
        <!-- 照片 -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="image">照片連結</label>
          <input class="form-control" type="text" name="image" id="image" aria-label="image url"
            value="{{restaurant.image}}">
        </div>
        <!-- 電話 -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="phone">電話</label>
          <input class="form-control" type="text" name="phone" id="phone" aria-label="phone"
            value="{{restaurant.phone}}">
        </div>
        <!-- 地址 -->
        <div class="input-group mb-3">
          <label class="input-group-text" for="location">地址</label>
          <input class="form-control" type="text" name="location" id="location" aria-label="location"
            value="{{restaurant.location}}">
        </div>

        <!--submit-->
        <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">Submit</button>
      </form>
    </div>
  </div>
</div>